@import '../variables.scss';

.main-page {
    @media (min-width: $breakpoint-big-screen) {
        padding-left: 345px;
    }
}

.main__header {
    @media (min-width: $breakpoint-big-screen) {
        display: flex;
        align-items: center;
        
        header {
            width: 100%;
            order: 1;
        }

        .search {
            margin-top: 0;
            max-width: 488px;
            width: 100%;
        }
    }
}