@import './variables.scss';

body {
    background-color: $color-black;
    color: $color-white;
    margin: 16px;
    font-family: Arial;
    padding-bottom: 56px;
}

.app {
    max-width: 1440px;
    margin: 0 auto;
}